// Header Menu
$dark_blue: #030027;
$white: #fff;
$orange: #F6921E;
$gray: #DBDBDB;
$gray-2: #6C6C6C;
$gray-3: #5F5E64;

$main-blue: #020027;


// Transition
$transition_normal: all 0.3s ease-in-out;
$transition_long: all 0.8s ease-in-out;



//Fonts
$base-font: 'CircularStd';
$second-font: 'RomainText';


// PRIMARY COLORS
// $white: #F3F3F3;
$black: #1A1A17;
$green: #24AD97;
$red: #CC2929;
$red-light: #E62E2E;

// BlackBean
$BlackBean_1: #271D11;
$BlackBean_2: #3F1A01;
$BlackBean_3: #654834;
$BlackBean_4: #8C7667;
$BlackBean_5: #B2A499;
$BlackBean_6: #D9D1CC;

// Cerulean Frost
$CeruleanFrost_1:#68849E;
$CeruleanFrost_2:#7B9CBB;
$CeruleanFrost_3:#96B0C8;
$CeruleanFrost_4:#B0C4D6;
$CeruleanFrost_5:#CAD8E4;
$CeruleanFrost_6:#E5EBF1;

// Navy Green
$NavyGreen_1:#002E1A; 
$NavyGreen_2:#004225;
$NavyGreen_3:#336851;
$NavyGreen_4:#668E7C;
$NavyGreen_5:#99B3A8;
$NavyGreen_6:#CCD9D3;


// Caribbean Green
$CaribbeanGreen_1:#24AD97;
$CaribbeanGreen_2:#2BCCB0;
$CaribbeanGreen_3:#55D6C0;
$CaribbeanGreen_4:#80E0D0;
$CaribbeanGreen_5:#AAEBDF;
$CaribbeanGreen_6:#D5F5EF;

// Davys Grey
$DavysGrey_1:#1A1A17;
$DavysGrey_2:#4D4D4D;
$DavysGrey_3:#717171;
$DavysGrey_4:#878787;
$DavysGrey_5:#B2B2B2;
$DavysGrey_6:#DADADA;

// Silver Chalice
$SilverChalice_1:#949494;
$SilverChalice_2:#B2B2B2;
$SilverChalice_3:#C1C1C1;
$SilverChalice_4:#D1D1D1;
$SilverChalice_5:#E0E0E0;
$SilverChalice_6:#F0F0F0;

// Light French Beige 
$LightFrenchBeige_1:#A38E55;
$LightFrenchBeige_2:#B59E5F;
$LightFrenchBeige_3:#C4B17F;
$LightFrenchBeige_4:#D3C59F;
$LightFrenchBeige_5:#E1D8BF;
$LightFrenchBeige_6:#F0ECDF;